<%-include('header');-%>

<h1 id="heading">About us</h1>
<div class="box">
  <p><a href="https://www.github.com/kushalgulia">Source Code</a></p>
  <p><a href="/">Back to home</a></p>
</div>

<%-include('footer');-%>
